<a class="shares-linkedin"
	data-sitename="{{ site_name }}"
	data-title="{{ title }}"
	data-url="{{ url }}"
	data-summary="{{ description }}"
	href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>