{{ asset_add('styles.css', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}
<a href="mailto:?subject:{{ title }}&amp;body:{{ description }}%0A%0A{{ url }}"><i class="fa fa-envelope-o" aria-hidden="true"></i> </a>