{{ asset_add('styles.css', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}
<a href="http://twitter.com/intent/tweet?text=+{{ title }}+-+{{ url }}"><i class="fa fa-twitter" aria-hidden="true"></i> </a>