{{ asset_add('styles.css', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css') }}
<a href="whatsapp://send?text={{ url }}" class="shares-whatsapp" style="display:none;"><i class="fa fa-whatsapp" aria-hidden="true"></i> </a>